*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* shared styles */
header{
    width: 100%;
}

.btn{
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 16px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.btn:hover{
    background-color: #24854d;
}

/* main styles */
nav{
    padding: 14px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
}
nav .menu ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    transition: 0.3s ease-in-out;
}
nav .menu ul li a:hover{
    color: #5a5555;
}

.hero{
    padding: 120px 0 180px;
    text-align: center;
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-first-paragraph{
    display: inline;
    background-color: #FFFFFF;
    color: #30B868;
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 100px;
}
.hero h1{
    font-size: 63px;
    color: #FFFFFF;
    margin: 16px 0;
}
.hero-second-paragraph{
    font-size: 13px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.change-color{
    color: #24854d;
}
.hero-button2{
    background: transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
    padding: 12px 16px;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.hero-button2:hover{
    background-color: #FFFFFF;
    color: #30B868;
}