*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* shared styles */
header{
    width: 100%;
}

.btn{
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 16px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.btn:hover{
    background-color: #24854d;
}

/* main styles */
nav{
    padding: 14px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
}
nav .menu ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    transition: 0.3s ease-in-out;
}
nav .menu ul li a:hover{
    color: #5a5555;
}

.hero{
    padding: 120px 0 180px;
    text-align: center;
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-first-paragraph{
    display: inline;
    background-color: #FFFFFF;
    color: #30B868;
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 100px;
}
.hero h1{
    text-transform: capitalize;
    font-size: 63px;
    color: #FFFFFF;
    margin: 16px 0;
}
.hero-second-paragraph{
    font-size: 13px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.change-color{
    color: #24854d;
}
.hero-button2{
    background: transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
    padding: 12px 16px;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.hero-button2:hover{
    background-color: #FFFFFF;
    color: #30B868;
}

.idea-section{
    padding-top: 80px;
    text-align: center;
    background-color: #fbfbfb;
}
.idea-title h2{
    text-transform: capitalize;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 15px;
}
.idea-title p{
    font-size: 13px;
    color: #746b6b;
    margin-bottom: 40px;
}

.idea-box{
    padding: 0 120px;
    display: flex;
    gap: 24px;
}
.idea-card{
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #6a666635;
    border-bottom: none;
    padding: 55px 24px 0;
}
.idea-card img{
    background-color: #F95555;
    width: 45px;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 14px;
}
.idea-card h3{
    font-size: 22px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 14px;
}
.idea-card p{
    font-size: 14px;
    color: #627382;
}

.second-brain-section{
    padding: 120px;
    display: flex;
    gap: 60px;
    align-items: center;
}

.second-brain-content h5{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
    margin-bottom: 16px;
}
.second-brain-content h2{
    text-transform: capitalize;
    font-size: 45px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.second-brain-content p{
    font-size: 14px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}
.second-brain-content ul li{
    list-style-type: none;
    font-size: 13px;
    color: #001931;
    line-height: 20px;
    margin-bottom: 16px;
}
.second-brain-content ul li i{
    color: #30B868;
}

.early-access-section{
    padding: 0 120px 120px;
}
.early-access-container{
    background-color: #F7F6F2;
    text-align: center;
    padding: 80px 40px;
    border-radius: 12px;
}
.early-access-container h2{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.early-access-container p{
    font-size: 14px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 24px;
}

.footer-section{
    padding: 120px 120px 30px;
    background-color: #001931;
    color: #FFFFFF;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    margin-bottom: 50px;
}
.footer-box .social p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
}
.footer-box .social a{
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 13px;
}

.footer-section hr{
    border: none;
    border-top: 2px solid #042748;
    margin-bottom: 30px;
}

.copyright p{
    text-align: center;
    font-size: 13px;
    color: #FAFAFA;
}



@media screen and (max-width: 576px) {
    nav{
        padding: 14px;
    }
    .menu{
        display: none;
    }


    .idea-box{
        padding: 0 50px 80px;
        flex-wrap: wrap;
    }
    .idea-card{
        border-radius: 8px;
        padding: 35px 25px;
        border: 3px solid #6a666635;
    }

    .second-brain-section{
        flex-direction: column;
        padding: 80px 30px;
    }
    .second-brain-image img{
        width: 100%;
    }
    .second-brain-content p{
        margin-bottom: 20px;
    }
    .second-brain-content ul{
        padding-left: 15px;
    }
}