*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* shared styles */
header{
    width: 100%;
}

.btn{
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 16px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.btn:hover{
    background-color: #24854d;
}

/* main styles */
nav{
    padding: 14px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
}
nav .menu ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    transition: 0.3s ease-in-out;
}
nav .menu ul li a:hover{
    color: #5a5555;
}

.hero{
    padding: 120px 0 180px;
    text-align: center;
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-first-paragraph{
    display: inline;
    background-color: #FFFFFF;
    color: #30B868;
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 100px;
}
.hero h1{
    font-size: 63px;
    color: #FFFFFF;
    margin: 16px 0;
}
.hero-second-paragraph{
    font-size: 13px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.change-color{
    color: #24854d;
}
.hero-button2{
    background: transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
    padding: 12px 16px;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.hero-button2:hover{
    background-color: #FFFFFF;
    color: #30B868;
}

.idea-section{
    padding-top: 80px;
    text-align: center;
    background-color: #fbfbfb;
}
.idea-title h2{
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 15px;
}
.idea-title p{
    font-size: 13px;
    color: #746b6b;
    margin-bottom: 40px;
}

.idea-box{
    padding: 0 120px;
    display: flex;
    gap: 24px;
}
.idea-card{
    border-radius: 4px;
    box-shadow: 0 0 8px #00000023;
    padding: 55px 24px 24px;
}
.idea-card img{
    background-color: #F95555;
    width: 45px;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 14px;
}
.idea-card h3{
    font-size: 22px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 14px;
}
.idea-card p{
    font-size: 14px;
    color: #627382;
    margin-bottom: 14px;
}